# This file is used also in scripts/prepare_source.sh as a list of files for
# zip to exclude. Note that zip pattern rules are slightly different then
# git's (see below).
#
.project
.settings
.tern-project
.DS_Store
nbproject/
web/app.min.js
sencha-error-*
node_modules
package-lock.json

# We need to specify it twice because of zip.
traccarSourceCode.zip
web/traccarSourceCode.zip

web/LatestGitCommit.js

# Must not be prepended with a dot (".*.swp") because zip will ignore this
# rule otherwise.
*.swp

*~
